@media screen and (max-width:1100px){
    .main-container{
        max-width: 800px;
    }
    .header-container{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .banner-latest{
        width: 170px;
    }
    .banner-content-header{
        font-size: 25px;
        width: 200px;
    }
    .banner-buttom-text{
        bottom: 15px;
        left: 15px;
        font-size: 16px;
    }
}

@media screen and (max-width:800px){
    .menu-bar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-nav, .header-social-media{
        display: none;
    }
    .menu-bar-icon{
        font-size: 22px;
    }
    .header-container{
        grid-template-columns: 1fr 11fr;
        padding: 40px 0;
    }
    .banner-latest{
        width: 160px;        
    }
    .banner-content-header{
        font-size: 18px;
        width: 180px;
    }
    .blog-img-desc{
        width: 100px;
        height: 90px;
        font-size: 20px;
    }
    .blog-desc-container{
        margin-top: 70px;
        font-size: 14px;
    }
    .blog-img-desc-container{
        bottom: -45px;
    }
    .insta{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:700px){
     .banner-content-header{
         font-size: 16px;
         width: 180px;
     }
     .banner-latest{
         width: 120px;
     }
     .banner-buttom-text{
         font-size: 13px;
     }

}

@media screen and (max-width: 600px){
    .header-container{
        grid-template-columns: 1fr 5fr;
        padding: 30px 0;
    }
    .banner{
        grid-template-columns: 1fr;
    }
    .banner-content{
        padding-left: 0;
        grid-template-areas: "header"
        "latest"
        "insta";
        grid-gap: 8px 0;
    }
    .banner-content-header{
        width: 100%;
        margin-top: 30px;
    }
    .banner-latest{
        width: 100%;
    }
    .banner-buttom-text{
        bottom: 20px;
        left: 25px;
        font-size: 28px;
    }
    .subscribe-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subscribe-btn{
        margin-top: 20px;
        width: 40%;
        padding: 10px 5px;
        letter-spacing: normal;
        font-size: 13px;
    }
    .subscribe-header{
        font-size: 26px;
    }
    .subscribe-input{
        height: 40px;
    }
    .subscribe-mail{
        width: 220px;
    }
    .blog{
        grid-template-columns: 1fr;
    }
    .blog-img-desc{
        width: 140px;
        height: 120px;
        font-size: 24px;
    }
    .blog-desc-container{
        margin-top: 70px;
        font-size: 14px;        
    }
    .blog-img-desc-container{
        bottom: -60px;
    }
    .insta-item-description{
        padding: 8px;
        font-size: 22px;
    }
    .insta-item{
        padding: 16px;
    }
}